.timer-wrap{
display: flex;
gap: 2rem;

}
.timer-timer{

}
.timer-words-count{

}
.dificulty-wrap{
  margin-left: auto;
  display: flex;
  gap: 10px; 
}
.easy,.medium,.hard{
  border: none;
  background: none;
  font-weight: 800;
  font-size: 1rem;
  transition: all 500ms ease-in-out;
}
.easy{
  color: transparent;
background-image: linear-gradient(to right, #00b09b, #96c93d);
-webkit-background-clip: text;
background-clip: text;
text-shadow: 0 0 10px #000; /* Contorno negro */

  
  }
.medium{
  color: transparent;
  background-image: linear-gradient(to right, #f12711, #f5af19);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0 0 10px #000; /* Contorno negro */
}
.hard{
  color: transparent;
background-image: linear-gradient(to right, #ff0000, #cc0000);
-webkit-background-clip: text;
background-clip: text;
text-shadow: 0 0 10px #000; /* Contorno negro */
}
.easy:hover,.medium:hover,.hard:hover{
  transform: scale(1.2)
}
